name: Weather-Fetcher

on:
  schedule:
    - cron: "0 * * * *"  # runs every hour
  workflow_dispatch:     # optional - run manually

permissions:
  contents: write

jobs:
  fetch:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        run: python fetch_weather_data.py

      - name: Commit & Push changes
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add weather_data.csv
          git commit -m "Update weather data" || echo "No changes"
          git push
